@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";
@import "./hardwares.scss";
// body { background: #f8f0e6; }

.center {
	text-align: center;
}

.margin-top-25 {
	margin-top: 25px;
}
