@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*@import "./actiontext.scss";*/
@import "./hardwares.scss";
// body { background: #f8f0e6; }

.center {
	text-align: center;
}

.margin-top-25 {
	margin-top: 25px;
}

.shine {
	border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 10px 10px 10px rgba(222, 222, 100, 0.775) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 10 5;
}
